@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Noto Sans', sans-serif;
}

html, body, #root {
    height: 100%;
    overflow: hidden;
}

.anim-wobble {
	-webkit-animation: anim-wobble 8s both infinite;
	        animation: anim-wobble 8s both infinite;
  text-align: center;
}

/* Keyframes for the wobble animation */

@keyframes anim-wobble {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50%50%;
    transform-origin: 50%50%;
  }
  2.5% {
    -webkit-transform: translateX(-15px)rotate(-2deg);
    transform: translateX(-15px)rotate(-2deg);
  }
  5% {
    -webkit-transform: translateX(7px)rotate(2deg);
    transform: translateX(7px)rotate(2deg);
  }
  7.5% {
    -webkit-transform: translateX(-7px)rotate(-1.6deg);
    transform: translateX(-7px)rotate(-1.6deg);
  }
  10% {
    -webkit-transform: translateX(4px)rotate(0.4deg);
    transform: translateX(4px)rotate(0.4deg);
  }
  12.5% {
    -webkit-transform: translateX(-3px)rotate(-0.2deg);
    transform: translateX(-3px)rotate(-0.2deg);
  }
  100% {
    -webkit-transform: translateX(-3px)rotate(0deg);
    transform: translateX(-3px)rotate(0deg);
  }
}